# Copyright (C) 2025 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0
---
- name: set platform
  set_fact:
    target_architecture: "{{ hostvars[inventory_hostname]['target_platform'] | default(target_platform) }}"
- name: Stop sv_timestamp_logger container
  become: true
  docker_container:
    name: sv_timestamp_logger_{{ target_architecture }}
    state: absent

- name: Run SV timestamp logger container
  become: true
  docker_container:
    name: sv_timestamp_logger_{{ target_architecture }}
    image: sv_timestamp_logger_{{ target_architecture }}
    state: started
    detach: true
    privileged: true
    volumes:
      - "{{ ansible_user_dir }}/latency_tests:/tmp/latency_tests"
    network_mode: host
    capabilities:
      - NET_ADMIN
      - SYS_NICE
    command: >
      -d {{ sv_interface }}
      -f "/tmp/latency_tests/ts_{{ inventory_hostname }}.txt"
      -s svID0000
      {% if 'publisher' in group_names %}
      -t
      {% endif %}
  when: enable_sv_ts is defined and enable_sv_ts|bool == true
